/* 추천 강좌 배경 지정 */
.lecture{
  background: #fff;
}

/* lecture 컨테이너 */
.lecture__container{
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
}
/* 탭 메뉴 */
.tab-list{
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
}
.tab-list li{
  width: 50%;
}
.tab{
  display: block;
  background: var(--lecture-dark-color);
  height: 64px;  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.tab[aria-selected='true']{
  background: #fff;
  color: var(--lecture-dark-color);
}

.tab::after{
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  background: url(./../images/icon-down.svg) no-repeat 0 0 / 100% 100%;
}

.tab[aria-selected='true']::after{
  background-image: url(./../images/icon-up.svg);
}

.lecture__panel{
  background: green;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding: 40px 108px 38px 108px;
}
.button-prev, .button-next{
  border: 0;
  padding: 0;
  background: transparent;
  position: absolute;
  top: 0;
}
.button-prev{
  left: 0;
}
.button-next{
  right: 0;
}

.lecture__detail{
  width: 590px;
  height: 424px;
  margin: 0 11px;
  background-color: blueviolet;
}
.lecture__control-bar{
  width: 100%;
  background-color: yellow;
}

/* 카드 앞면 */
.front{
  width: 590px;
  height: 424px;
  padding-top: 212px;
  background-repeat:  no-repeat;
  background-position: 50% 0;
  border-radius: 3px;
  filter: drop-shadow(0px 2px 10px rgba(77, 46, 46, 0.1));
  display: none;
}
/* .lecture__panel .lecture__detail:nth-of-type(1) .front{
  background-image: url(./../images/image06.png);
}
.lecture__panel .lecture__detail:nth-of-type(2) .front{
  background-image: url(./../images/image05.png);
} */
.front.git{
  background-image: url(./../images/image06.png);
}
.front.rwd{
  background-image: url(./../images/image05.png);
}

.front__container{
  background: var(--primary-bg-color);
  height: 212px;
  padding: 30px 0;
  text-align: center;
}
.lecture__title{
  margin: 0;
}
[class^="lecture__title"]{
  display: block;
}
.lecture__title-en{
  font-size: 2.5rem;
  font-weight: 700;
}
.lecture__title-ko{
  font-size: 1.8rem;
  font-weight: 400;
  margin: 10px 0 25px;
}

.front:hover .front__container{
  background: var(--primary-color);
  color: 
}
.front:hover .lecture__title-en{
  color: var(--primary-color2);
}
.front:hover .lecture__title-ko{
  color: var(--primary-color3);
}
.front:hover .button-stroke{
  color: var(--primary-bg-color);
  border-color:  var(--primary-bg-color);
}
